@import "tailwindcss";

@theme {
  --color-tani-50: #f2f9ef;
  --color-tani-100: #e0f1d8;
  --color-tani-200: #c3e3b5;
  --color-tani-300: #97cf83;
  --color-tani-400: #67b558;
  --color-tani-500: #469a37;
  --color-tani-600: #337b2a;
  --color-tani-700: #2b6124;
  --color-tani-800: #264e21;
  --color-tani-900: #21411e;
  --color-tani-950: #0f230f;
  --color-pasar-400: #f0b429;
  --color-pasar-500: #de911d;
}

body {
  background: #ffffff;
  color: #1a2e1a;
  font-family: Arial, Helvetica, sans-serif;
}
